html  {
    height: 100%; /* make the percentage height on placeholder work */
}

body {
    height: 100%; /* make the percentage height on placeholder work */
    padding-top: 70px;
    padding-bottom: 30px;
}

.theme-dropdown .dropdown-menu {
  position: static;
  display: block;
  margin-bottom: 20px;
}

.theme-showcase > p > .btn {
  margin: 5px 0;
}

div.container {
    height: 100%
} 

#graph {
    height: 100%
}
